<!--Footer-->
<footer id="footer" class="page-footer success-grad pt-4 mt-4" [ngClass]="{'fixed-bottom' : ruta === 'eluser' || ruta === 'elcat' || ruta === 'login' && altura > 750}">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-10">
                <h5 class="title">TIME</h5>
                <p>Esta web ha sido realizada por Oliver López Olmedo como TFG para la Universidad de Málaga.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2">
                <h5 class="title">Enlaces</h5>
                <ul class="list-unstyled">
                    <li>
                        <img src="../../../../assets/images/linkedin-img.png" width="20" height="20">
                        <a href="https://www.linkedin.com/in/oliver-l%C3%B3pez-olmedo-704439122/"> LinkedIn</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            Oliver López Olmedo
        </div>
    </div>
    <!--/.Copyright-->
</footer>
<!--/.Footer-->